<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block corecss %}
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
       <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        
       {% endblock corecss %}
       <link rel="shortcut icon" href="{% static 'core/images/logo.png' %}" type="image/x-icon">
    <title>{% block title %}Page{% endblock title %}</title>
</head>
<body>
   {% include 'core/nav.html' %}

    <div class="container">
        {% block container %}
        <span class="myname">{% block myname %}Muhammad Bilal{% endblock myname %}</span>
        {% endblock container %}</div>
  <br>
{% block corescript %}
<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'popper.js' %}"></script>
<script src="{% static 'all.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>

{% endblock corescript %}
</body>
</html>