{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">

    <h3 class="text-white my-5">
        dashboard / Update Post
        <form action="" method="POST" novalidate class="my-3">
          {% csrf_token %}
            {% for frm in form  %}
               {{frm.label_tag}}{{frm}} {{frm.errors |striptags}} <br>
            {% endfor %} 
            <input type="submit" value="Update Post" class="btn btn-success">
            <a href="{% url 'dashboard' %}" class="btn btn-danger">Cancel</a>
        </form>
    </h3>
  </div>
{% endblock content %}